In [2]:
# Import libraries
import json
import pandas as pd
from pandas import DataFrame
from pandas.io.json import json_normalize #package for flattening json in pandas df

In [69]:
file_path = './test_data/weather_obs-1.json'

#load json object
with open(file_path) as f:
    d = json.load(f)

# Parse JSON file into a DataFrame
raw_data = json_normalize(d['SiteRep'])
raw_data

,DV.Location,DV.dataDate,DV.type,Wx.Param
0,"[{'i': '3002', 'lat': '60.749', 'lon': '-0.854...",2016-06-21T16:00:00Z,Obs,"[{'name': 'G', 'units': 'mph', '$': 'Wind Gust..."

In [423]:
# Parse the DV columns from JSON file
location = json_normalize(data=d['SiteRep']['DV'], 
                          record_path=['Location'],
                          meta=['dataDate', 'type'])

# new = DataFrame(pd.json.loads(location.head(1).to_json()))
a = DataFrame(location.iloc[18])
# location.head(2)

# isinstance(location.iloc[19]['Period'], list)
len(location)

145

In [417]:
a = DataFrame(location.iloc[18])
# location.head(2)

a.T

,Period,continent,country,elevation,i,lat,lon,name,dataDate,type
18,"[{'type': 'Day', 'value': '2016-06-20Z', 'Rep'...",EUROPE,SCOTLAND,933.0,3072,56.879,-3.42,CAIRNWELL,2016-06-21T16:00:00Z,Obs

In [415]:
b = json_normalize(data=a['Period'], record_path=['Rep'],
              meta=['type', 'value'])
b

       $    D   Dp    G      H   S     T type        value
0    960    W  3.8   36   65.4  26  10.0  Day  2016-06-20Z
1   1020    W  2.6   46   65.5  32   8.7  Day  2016-06-20Z
2   1080    W  4.0   40   75.9  19   8.0  Day  2016-06-20Z
3   1140    W  3.8   33   77.3  23   7.5  Day  2016-06-20Z
4   1200    W  4.0   32   82.8  22   6.7  Day  2016-06-20Z
5   1260    W  3.7   30   84.6  17   6.1  Day  2016-06-20Z
6   1320    W  3.3   33   84.1  21   5.8  Day  2016-06-20Z
7   1380    S  4.3   30   96.6   9   4.8  Day  2016-06-20Z
8      0  WSW  4.6  NaN  100.0  16   4.6  Day  2016-06-21Z
9     60   SW  4.6  NaN  100.0  11   4.6  Day  2016-06-21Z
10   120   SW  4.5  NaN  100.0  18   4.5  Day  2016-06-21Z
11   180  WSW  4.1  NaN   95.9  16   4.7  Day  2016-06-21Z
12   240   SW  4.3  NaN  100.0  15   4.3  Day  2016-06-21Z
13   300   SW  4.2  NaN  100.0  13   4.2  Day  2016-06-21Z
14   360  SSW  3.9  NaN   97.9  18   4.2  Day  2016-06-21Z
15   420  SSW  3.1  NaN   90.1  19   4.6  Day  2016-06-21Z
16   480  SSW  5.0   31   97.2  26   5.4  Day  2016-06-21Z
17   540  SSW  5.6   38   98.7  32   5.8  Day  2016-06-21Z
18   600    S  6.0   39  100.0  29   6.0  Day  2016-06-21Z
19   660  SSW  6.3   34  100.0  26   6.3  Day  2016-06-21Z
20   720  SSW  6.0   32   94.6  25   6.8  Day  2016-06-21Z
21   780  SSW  5.6   39   87.2  25   7.6  Day  2016-06-21Z
22   840   SW  5.3   34   81.9  24   8.2  Day  2016-06-21Z
23   900   SW  5.6   46   79.3  29   9.0  Day  2016-06-21Z
24   960   SW  5.8   44   79.8  29   9.1  Day  2016-06-21Z

In [450]:
# COPY META COLUMNS TO PERIOD RESULTS DATAFRAME
# a: 1-row DataFrame containing Period and meta columns
# b: results DataFrame
def copy_meta_to_period(a, b):
    headers = list(a)
    for i in range(1,len(headers)):
        b[str(headers[i])] = a.iloc[0][i]
    return b

def handle_lists(x, i):
    a = DataFrame(x.iloc[i].to_dict())
    b = json_normalize(data=a['Period'], record_path=['Rep'], meta=['type', 'value'])
    return a, b

def handle_objects(x, i):
    a = DataFrame(x.iloc[i])
    b = json_normalize(data=a.T['Period'], record_path=['Rep'], meta=['type', 'value'])
    return a, b

# Loop over all rows of location
result = DataFrame()
y = DataFrame()
z = DataFrame()
for i in range (0, len(location)):
     
    if (isinstance(location.iloc[i]['Period'], list)): # Handle lists
        [a, b] = handle_lists(location, i)
    else:                                              # Handle objects
        [a, b] = handle_objects(location, i)
    
    if (len(result) == 0):
        result = copy_meta_to_period(a, b)
    else:
        result.append(copy_meta_to_period(a, b), ignore_index=True)
    
#     print('#' + str(i) + ' ' + 'done')

result

,$,D,Dp,G,H,P,Pt,S,T,V,...,type,value,continent,country,dataDate,elevation,i,lat,lon,name
0,960,WSW,10.2,32,82.0,1000,R,23,13.2,20000,...,Obs,2016-06-20Z,EUROPE,SCOTLAND,2016-06-21T16:00:00Z,15.0,3002,60.749,-0.854,BALTASOUND
1,1020,W,10.4,31,82.6,1001,R,22,13.3,21000,...,Obs,2016-06-20Z,EUROPE,SCOTLAND,2016-06-21T16:00:00Z,15.0,3002,60.749,-0.854,BALTASOUND
2,1080,W,10.1,30,83.6,1002,R,22,12.8,16000,...,Obs,2016-06-20Z,EUROPE,SCOTLAND,2016-06-21T16:00:00Z,15.0,3002,60.749,-0.854,BALTASOUND
3,1140,WSW,9.8,30,87.5,1002,R,23,11.8,18000,...,Obs,2016-06-20Z,EUROPE,SCOTLAND,2016-06-21T16:00:00Z,15.0,3002,60.749,-0.854,BALTASOUND
4,1200,WSW,9.7,29,88.1,1003,R,18,11.6,17000,...,Obs,2016-06-20Z,EUROPE,SCOTLAND,2016-06-21T16:00:00Z,15.0,3002,60.749,-0.854,BALTASOUND
5,1260,WSW,9.7,NaN,88.7,1004,R,19,11.5,17000,...,Obs,2016-06-20Z,EUROPE,SCOTLAND,2016-06-21T16:00:00Z,15.0,3002,60.749,-0.854,BALTASOUND
6,1320,WSW,9.8,NaN,92.9,1005,R,14,10.9,14000,...,Obs,2016-06-20Z,EUROPE,SCOTLAND,2016-06-21T16:00:00Z,15.0,3002,60.749,-0.854,BALTASOUND
7,1380,WSW,9.8,NaN,91.1,1005,R,18,11.2,16000,...,Obs,2016-06-20Z,EUROPE,SCOTLAND,2016-06-21T16:00:00Z,15.0,3002,60.749,-0.854,BALTASOUND
8,0,WSW,9.4,NaN,90.4,1006,R,17,10.9,16000,...,Obs,2016-06-21Z,EUROPE,SCOTLAND,2016-06-21T16:00:00Z,15.0,3002,60.749,-0.854,BALTASOUND
9,60,WSW,8.4,NaN,90.9,1006,R,15,9.8,17000,...,Obs,2016-06-21Z,EUROPE,SCOTLAND,2016-06-21T16:00:00Z,15.0,3002,60.749,-0.854,BALTASOUND
10,120,WSW,9.0,NaN,91.6,1007,R,16,10.3,15000,...,Obs,2016-06-21Z,EUROPE,SCOTLAND,2016-06-21T16:00:00Z,15.0,3002,60.749,-0.854,BALTASOUND
11,180,SW,7.6,NaN,86.7,1007,R,11,9.7,14000,...,Obs,2016-06-21Z,EUROPE,SCOTLAND,2016-06-21T16:00:00Z,15.0,3002,60.749,-0.854,BALTASOUND
12,240,SSW,8.2,NaN,90.3,1007,R,9,9.7,13000,...,Obs,2016-06-21Z,EUROPE,SCOTLAND,2016-06-21T16:00:00Z,15.0,3002,60.749,-0.854,BALTASOUND
13,300,SSW,9.0,NaN,91.6,1008,R,11,10.3,11000,...,Obs,2016-06-21Z,EUROPE,SCOTLAND,2016-06-21T16:00:00Z,15.0,3002,60.749,-0.854,BALTASOUND
14,360,SW,9.1,NaN,87.4,1008,R,13,11.1,11000,...,Obs,2016-06-21Z,EUROPE,SCOTLAND,2016-06-21T16:00:00Z,15.0,3002,60.749,-0.854,BALTASOUND
15,420,SW,8.8,NaN,83.4,1008,R,14,11.5,14000,...,Obs,2016-06-21Z,EUROPE,SCOTLAND,2016-06-21T16:00:00Z,15.0,3002,60.749,-0.854,BALTASOUND
16,480,SSW,9.1,NaN,82.3,1009,R,15,12.0,14000,...,Obs,2016-06-21Z,EUROPE,SCOTLAND,2016-06-21T16:00:00Z,15.0,3002,60.749,-0.854,BALTASOUND
17,540,SW,8.5,NaN,75.4,1009,R,17,12.7,20000,...,Obs,2016-06-21Z,EUROPE,SCOTLAND,2016-06-21T16:00:00Z,15.0,3002,60.749,-0.854,BALTASOUND
18,600,S,8.9,NaN,72.2,1009,R,18,13.8,12000,...,Obs,2016-06-21Z,EUROPE,SCOTLAND,2016-06-21T16:00:00Z,15.0,3002,60.749,-0.854,BALTASOUND
19,660,S,9.3,NaN,72.2,1010,R,18,14.2,20000,...,Obs,2016-06-21Z,EUROPE,SCOTLAND,2016-06-21T16:00:00Z,15.0,3002,60.749,-0.854,BALTASOUND
20,720,SSE,9.7,NaN,78.7,1010,R,16,13.3,21000,...,Obs,2016-06-21Z,EUROPE,SCOTLAND,2016-06-21T16:00:00Z,15.0,3002,60.749,-0.854,BALTASOUND
21,780,SSE,10.0,NaN,71.4,1010,R,17,15.1,16000,...,Obs,2016-06-21Z,EUROPE,SCOTLAND,2016-06-21T16:00:00Z,15.0,3002,60.749,-0.854,BALTASOUND
22,840,SSE,9.0,NaN,73.6,1010,R,18,13.6,30000,...,Obs,2016-06-21Z,EUROPE,SCOTLAND,2016-06-21T16:00:00Z,15.0,3002,60.749,-0.854,BALTASOUND
23,900,SSE,9.9,NaN,80.8,1010,R,18,13.1,15000,...,Obs,2016-06-21Z,EUROPE,SCOTLAND,2016-06-21T16:00:00Z,15.0,3002,60.749,-0.854,BALTASOUND
24,960,SSE,10.6,NaN,84.2,1010,R,16,13.2,13000,...,Obs,2016-06-21Z,EUROPE,SCOTLAND,2016-06-21T16:00:00Z,15.0,3002,60.749,-0.854,BALTASOUND

In [169]:
# period = json_normalize(data=location.head(1)['Period'], record_path=['Rep'])
# period

def normalize_period(df):
    return json_normalize(data=df['Period'].to_dict(), record_path=[0, 'Rep'],
                          meta=[['0', 'type'], ['0', 'value']])

location.head(1).apply(normalize_period)

KeyError: ('Period', 'occurred at index Period')

In [174]:
period = json_normalize(data=d['SiteRep']['DV'], record_path=['Location','Period', 'Rep'],
                       meta=['dataDate', 
                             ['Location', 'continent'],
                             ['Location', 'country'],
                             ['Location', 'name'],
                             ['Location', 'elevation'],
                             ['Location', 'lat'],
                             ['Location', 'lon'],
                             ['Location', 'i'],
                             ['Location', 'Period', 'type'],
                             ['Location', 'Period', 'value'],
                             'type'])

period

TypeError: string indices must be integers